[submodule "vendor/ubelt"]
	path = vendor/ubelt
	url = https://github.com/cosier/ubelt
[submodule "vendor/nuklear"]
	path = vendor/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/cosier/glfw.git
[submodule "vendor/sqlite"]
	path = vendor/sqlite
	url = https://github.com/cosier/sqlite-cmake.git
[submodule "vendor/freetype2"]
	path = vendor/freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git/
